body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(이미지/하울\ 배경.png) no-repeat center center fixed;
    background-size: cover;
}

header {
    background: url(이미지/지브리\ 로고.jpg) no-repeat center center;
    background-size: cover; 
    color: #4B0082;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #333; 
    text-decoration: none;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 350px; 
    background: rgba(245, 240, 178, 0.8);
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    left: 100px;
    top: 50%;
    transform: translateY(-50%); 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    border-radius: 15px;
}

.sidebar.fixed {
    position: fixed;
    top: 20px; /* 원하는 고정 위치 */
    transform: none;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #8B4513; 
}

main {
    flex: 1;
    padding: 1rem;
    margin-left: 400px;
    margin-right: 100px;
}

footer {
    background: #64C4D4;
    text-align: center;
    padding: 5px 0;
    margin-top: auto;
}

footer p {
    color: #333;
    font-size: 0.875rem;
}

section {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px; 
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 8px; 
}

h2 {
    color: #333;
}

@media (max-width: 768px) {
    .sidebar {
        width: 150px;
        left: 50px;
    }

    main {
        margin-left: 200px;
        margin-right: 50px;
    }

    header, footer {
        padding: 0.5rem;
    }

    nav ul li {
        margin-right: 5px;
    }
}

